boto3==1.9.167
celery==4.3.0
coloredlogs==10.0
decorator>=4.1.2
django==1.11.21
djangorestframework==3.9.4
djangosecure==0.0.11
eventlet==0.25.0

jira==2.0.0
jsonpickle==1.1
kubernetes==9.0.0
netaddr==0.7.19
paramiko_expect==0.2.8
paramiko==2.5.0
pexpect==4.7.0
protobuf==3.18.3
pyaml>=18.11.0
pysubnettree==0.30
pytest-html==1.12.0
pytest==3.0.6
python-geoip-geolite2 >=2015.303
python-geoip>=1.2
pyvmomi==6.0.0
redis==3.2.1
requests>=2.22.0
selenium==3.141.0
six==1.10.0
urllib3>=1.25.3
uwsgi==2.0.18
