{% extends "base.html" %}

{% block title %} Meeting: {{meeting.title}} {% endblock %}

<!-- everything around body tag goes around block content-->

{% block content %}
<h1>{{task.name}}</h1>
<h2>Description</h2>
<p>{{task.description|linebreaks}}</p>
<h2>Details</h2>
<p><strong>Start Date: </strong> {{task.start_date}}</p>
<p><strong>Start Time: </strong> {{task.start_time}}</p>
<p><strong>End Date  : </strong> {{task.end_date}}</p>
<p><strong>Duration Planned : </strong> {{task.duration}}</p>
<p><strong>Is Complete : </strong>{{task.complete}}</p>
<br>
  <form action="{% url 'mark_complete' task.id %}" method='POST'>
      {% csrf_token %}
      <button type='submit'>Mark Task Complete.</button>
  </form>

<br>
  <form action="{% url 'delete_task' task.id %}">
      <button type='submit'>Delete Task.</button>
  </form>
<br>

<a href="{% url 'welcome_page' %}">
    HOME
</a>
{% endblock %}}